@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@500&display=swap');

:root {
    --primary-color: #eee;
    --secondary-color: #eee;
    --text-color: #eee;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

}

html {
    font-size: 62.5%;
    font-family: var(--primary-font);
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}
p, label, a {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    gap: 3rem;
}
.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    color: #000;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: var(--spacing-36);
}

.form__box--grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-16);
    align-items: center;
}